

#nav{
    background-color: white;
    padding-top: 15px;
    padding-left: 30px;
    border-bottom: solid 3px $brandColor;
    height: 107px; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}


#nav::after{
    @include clear;
    display: block;
}

#logo{
    float: left;
    img{
    height: 73px;
    }
    @media screen and (min-width: $mdWidth){
        padding-left: 5%;
    }
    @media screen and (min-width: $lgWidth){
        padding-left: 13%;
        img{
        height: 80px;
        }
    }
}

#navList{
    float: right;
    width: 40%;
    padding-top: 3%;
    ul{
        list-style: none;
        }
    li{
        display: inline-block;
        float: left;
        margin-right: 30px;
        font-family: $text;
    }
     a{
        color: $textColor;
    }
     @media screen and (min-width: $mdWidth){
        font-size: 18px;
        width: 60%;

        li{
        padding-right: 1%;
    }

        #navActive, li:active, {
        border-bottom: 3px solid $brandColor; 
        }
    }
    @media screen and (min-width: $lgWidth){
        margin-right: 8%;
        font-size: 20px;
        width: 50%;

        #navActive, li:hover, {
        border-bottom: 3px solid $brandColor; 
        }
    }
}


#menuIcon{
    display: none;
}


@media screen and (max-width: $mdWidth){

    #menuIcon{
        display: block;
        float: right;
        color: $brandColor;
        margin-right: 20px;
        font-size: 3.5em;
    }

    #navList{
        display: none;
        float: right;
        clear: both;
        background-color: white;
        width: 50%;
        padding-top: 5em;
        padding: 20px;
        border: 3px solid $brandColor;
    }

    #navList ul li{
        display: block;
        float: none;
        padding-top: 20px;
        font-size: 30px;

    }
}

