$columns: 12;
$columnWidth: 100% / $columns;

$mdWidth: 768px;
$lgWidth: 1024px;

$header: white;
$footerTop: #356666;
$footerBottom: white;
$brandColor: #993399;

$headerText:'PT Serif', serif;
$headerColor:#666666;
$text:'PT Sans', sans-serif; 
$textColor:#666666;


