@import 'variables';
@import 'mixins';
@import 'grid';
@import 'navigation';
@import 'footer';

*{
 	margin:0;
 	padding:0;
 	text-decoration: none;
  box-sizing: border-box;
 }

 body{
    background-color: rgba(52, 101, 101, 0.2);
    font-family: $text;
}

#main{
	width: 100%;
	height: 100vh;
  margin: 0 auto;
  background-color: white;
      @media screen and (min-width: $mdWidth){
         width: 800px;
    }
      @media screen and (min-width: $lgWidth){
        width: 1000px;
    }
} 

h1 {
  @include headings;
  font-size: 2em;
}

h2{
  @include headings;
  font-size: 1.75em;
}

h3{
  @include headings;
  font-size: 1.5em;
}
 
h4{
  @include headings;
  font-size: 1.125em;
}

p{
  color: $textColor;
  font-family: $text;
  font-size: 1em;
  text-shadow: 1px 1px 1px #CCC;
}